{% load static %}
<footer class="sticky-footer">
    <div class="footer-container">
        <div class="footer-brand">
            <h3>Presenta™</h3>
            <p>Ideas in, impact out.</p>
        </div>
        <div class="footer-links">
            <div class="footer-column">
                <h4>Services</h4>
                <ul>
                    <li><a href="#">Presentations</a></li>
                    <li><a href="#">Infographics</a></li>
                    <li><a href="#">Posters</a></li>
                    <li><a href="#">Logo Design</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Connect</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter/X</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 reymundokunnn, aljanlyvincelavado-boop, domingoanniegayle-CATTY. All rights reserved.</p>
    </div>
</footer>