{% load static %}
<div class="side-panel">
    <div class="side-item-wrapper">
        <div class="side-item">
            <img src="{% static 'img/dashboard/side-0.png' %}" class="dashboard-sidebar-icon">
            <a href="#">Dashboard</a>
        </div>
        <div class="side-item">
            <img src="{% static 'img/dashboard/side-2.png' %}" class="dashboard-sidebar-icon">
            <a href="#">My Requests</a>
        </div>
        <div class="side-item">
            <img src="{% static 'img/dashboard/side-3.png' %}" class="dashboard-sidebar-icon">
            <a href="#">Status Tracker</a>
        </div>
        <div class="side-item">
            <img src="{% static 'img/dashboard/side-4.png' %}" class="dashboard-sidebar-icon">
            <a href="#">Payments</a>
        </div>
        <div class="side-item">
            <img src="{% static 'img/dashboard/side-5.png' %}" class="dashboard-sidebar-icon">
            <a href="#">Settings</a>
        </div>
    </div>
</div>