{% load static %}
<div class="side-panel">
    <div class="side-item-wrapper">
        <div class="side-item active" data-section="dashboard">
            <img src="{% static 'img/dashboard/side-0.png' %}" class="dashboard-sidebar-icon">
            <a href="{% url 'user_dashboard' %}">Dashboard</a>
        </div>
        <div class="side-item" data-section="requests">
            <img src="{% static 'img/dashboard/side-2.png' %}" class="dashboard-sidebar-icon">
            <a href="{% url 'user_dashboard' %}#requests">My Requests</a>
        </div>
        <div class="side-item" data-section="tracker">
            <img src="{% static 'img/dashboard/side-3.png' %}" class="dashboard-sidebar-icon">
            <a href="{% url 'user_dashboard' %}#tracker">Status Tracker</a>
        </div>
        <div class="side-item" data-section="payments">
            <img src="{% static 'img/dashboard/side-4.png' %}" class="dashboard-sidebar-icon">
            <a href="{% url 'user_dashboard' %}#payments">Payments</a>
        </div>
    </div>
</div>
