{% extends "base.html" %}
{% load static %}
{% block body_class %}class="has-sticky-footer"{% endblock %}
{% block content %}
<section class="contact-section">
	<h1 class="contacts-h1">Contacts</h1>
	<div class="cont-box">
	<p>Very Long paragraph of how you can find in these various contact lists</p>
	<h2>The contact lists</h2>
	<ul>
		<li>X/Twitter</li>
		<li>Instagram</li>
		<li>Facebook</li>
		<li>Email</li>
	</ul>
	</div>
	<div class="cont-form">
		<form>
			<input>
			<textarea>
				heres for your text pleasure.
			</textarea>
		</form>
	</div>
</section>
{% endblock %}
{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}